table, th, td{
    border: 1px solid black;
}

 input {
     display: block;
 }

 .b{
    float: left; 
    border: 1px solid blue
 }

 .a{
    float: left; 
    border: 1px solid red
 }

 div+h1{
     background-color: red;
 }


 